## description
{{description}}

## requirement
{{requirements.requirements}}

## specifications
{{requirements.specifications}}

## Test Case
{{test_code}}

# The input of the test case
{{test_input}}

# The oracle of the test case
{{test_oracle}} 

Analyse the test case and provide the correct oracle if the test case is incorrect. Otherwise, just say the test case is correct.
Your response should be include:
- judgement of the oracle. Whether the test oracle is correct or not. 
- old oracle. The test oracle provided in the test case
- new oracle. The correct test oracle if the old oracle is incorrect.
- explanation. Explain why the judgement and why the old oracle is incorrect and how the new oracle is derived from the test case (if the old oracle is incorrect).

**Don't overthink. Double check your answer only twice. It is what it is. Think carefully but briefly, and provide a concise answer.**
output should be in JSON format.
## format
{{format_instructions}}