## This is the test case he is analysing.
{{test_code}}

## The thougths from the excellant tester
{{thoughts}}


If he thinks the test oracle is incorrect, then the test oracle is incorrect. Use his proposed test oracle. Don't be mislead by his lack of confidence.
You should find out the following from his latest complete thoughts:
- judgement of the oracle. Whether the test oracle is correct or not. 
- old oracle. The test oracle provided in the test case
- new oracle. The correct test oracle if the old oracle is incorrect.
- explanation. Explain why the judgement and why the old oracle is incorrect and how the new oracle is derived from the test case (if the old oracle is incorrect).

output should be in JSON format.
## format
{{format_instructions}}