    .ok {
      background-color: #00aa00;
    }

    .failed {
      background-color: #aa0000;
    }

    .ignored {
      background-color: #aaaaaa;
    }

    .started {
      background-color: #aaaa00;
    }

    table {
      border-width: 2px;
      border-spacing:;
      border-style: outset;
      border-color: gray;
      border-collapse: collapse;
      background-color: white;
      empty-cells: show;
    }

    table th {
      border-width: 2px;
      padding: 2px;
      border-style: inset;
      border-color: gray;
      background-color: white;
      -moz-border-radius:;
    }

    table td {
      border-width: 2px;
      padding: 2px;
      border-style: inset;
      border-color: gray;
      background-color: white;
      -moz-border-radius:;
    }
